button {
  /* Normal */
  display: inline-block;
  margin: 5px 10px 5px 0;
  padding: 4px 16px 2px;
  background-color: var(--oc-gray-1);
  border: 1px solid var(--oc-gray-8);
  box-shadow: 3px 3px 5px var(--oc-gray-3);
  border-radius: 3px;
  cursor: pointer;
  outline: none; /* Removes blu outline around button on click (Chrome)*/
  font-family: source_sans_proregular;
  font-size: 1.25em;
  text-align: center;
  color: var(--oc-gray-9);
  transition: background-color 0.15s ease-in-out;
}

button:hover {
  /* On Hover */
  background-color: var(--oc-gray-8);
  box-shadow: 3px 3px 8px var(--oc-gray-4);
  color: var(--oc-gray-1);
  transition: color 0.15s ease-in-out;
}

button:active {
  /* When clicked */
  background-color: var(--oc-gray-7);
}

button::-moz-focus-inner {
  border: 0;
}
