//main: main.scss
button::-moz-focus-inner {
  border: 0;
}

button > p {
  color: $oc-gray-9;
}

button:hover > p {
  color: $oc-gray-1;
  transition: color 0.2s ease-in-out;
}
button {
  // Normal
  display: inline-block;
  margin: 5px 10px 5px 0px;
  padding: 4px 16px 2px 16px;
  border: 1px solid $oc-gray-8;
  background-color: $oc-gray-1;
  box-shadow: 3px 3px 5px $oc-gray-3;
  border-radius: 9px;
  cursor: pointer;
  outline: none;    /* Removes blu outline around button on click (Chrome)*/
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  //On Hover
  background-color: $oc-gray-8;
  box-shadow: 3px 3px 8px $oc-gray-4;
}

button:active {
  // When clicked
  background-color: $oc-gray-7;
}

button > p {
  text-align: center;
  font-family: source_sans_proregular;
  font-size: 1.25em;
}

button:active {
}
