@import "resources.scss";

button::-moz-focus-inner {
    border: 0;
}

button {
    display: inline-block;
    margin: 5px 10px 5px 0px;
    padding: 4px 16px 2px 16px;
    background-color: $oc-blue-3;
    border: 1px solid $oc-gray-8;
    box-shadow: 3px 3px 5px $oc-gray-5;
    border-radius: 3px;
    cursor: pointer;
    outline: none;    /* Removes blu outline around button on click (Chrome)*/
}

button:hover {
    background-color: $oc-blue-4;
    box-shadow: 3px 3px 8px $oc-gray-6;
}

button:active {
    background-color: $oc-blue-5;
}

button > p {
    text-align: center;
    font-family: source_sans_proregular;
    font-size: 1.25em;
}

button:active {
}
