#change-interval {
  position: fixed;
  background: var(--oc-gray-1);
  margin-top: 40px;
  left: -100%;
  width: 100%;
  overflow-x: hidden; /* Disable the horizontal scroll */
  transition: 0.3s ease-in-out;
  height: 100%;
  z-index: 2;
  opacity: 0.95;
}

#change-interval-inner {
  margin-left: 10%;
  margin-right: 10%;
}

.interval-text {
  margin-top: 15px;
}

.before-number {
}

#work-duration-text {
}

#recommended-intervals {
  margin-top: 0px;
  padding-top: 0px;
}
