#get-statistics {
  position: fixed;
  background: var(--oc-gray-1);
  margin-top: 40px;
  left: -100%;
  width: 100%;
  overflow-x: hidden; /* Disable the horizontal scroll */
  transition: 0.3s ease-in-out;
  height: 100%;
  z-index: 1;
}

#get-statistics-inner {
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

h2.statistics-text {
  height: 125px;
}
