/*
dusty: #96858F
lavender: #6D7993
overcast: #9099A2
paper: #D5D5D5
*/

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #D5D5D5;
}

/* CLOSE MINIMIZE ELEMENTS */
#titlebarContainer {
	position: relative;
    display: flex;
    height: 35px;
    width: 100%;
    background-color: #6D7993;
	justify-content: space-between;
	 -webkit-app-region: drag;
}

#titlebar-left {
	position: relative;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

#titlebar-right {
	position: relative;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

#statistics-svg {
	padding-left: 1px;
}

.titlebar-svg {
	width: 35px;
    height: 35px;
}

#settings-svg {
	width: 30px;
	height: 30px;
	padding-left: 5px;
	padding-top: 2.5px;


}

#settings:hover > #settings-svg, #statistics:hover > #statistics-svg, #minimize:hover > #minimize-svg, #close:hover > #close-svg {
	stroke: #9099A2;
	transition: stroke 250ms;
}

#titlebarContainer > div {
-webkit-app-region: no-drag;
}


/* MAIN CLOCK */
#container {
    display: grid;
    margin-top: 25px;
    /*position: absolute;*/
    left: 0;
    right: 0;
    grid-template-columns: 6% 85% 6%;
    grid-column-gap: 1.5%;
}
