@import "buttons.scss";
@import "clock-intervals.scss";
@import "input.scss";
@import "titlebar.scss";
@import "timer-clock.scss";

* {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden; /* Remove scrollbars */
}

body {
    background-color: $oc-gray-0;
    text-align: left;
}

h1 {
    font-family: source_sans_proregular;
    font-size: 2em;
}

h2 {
    font-family: source_sans_prolight;
    font-size: 1.25em;
}
