/*
dusty: #96858F
lavender: #6D7993
overcast: #9099A2
paper: #D5D5D5
*/

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #D5D5D5;
}

/* CHANGE INTERVAL SIDEBAR START */
#change-interval-sidebar {
height: 100%;
width: 0px;
position: fixed; /* Stay in place */
z-index 1;
top 0;
left 0;
background-color: blue;
overflow-x: hidden /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s;
}

#main {
    transition: margin-left 0.5s;
}




/* CHANGE INTERVAL SIDEBAR END */

/* TITLEBAR START */
#titlebarContainer {
	position: relative;
    display: flex;
    height: 35px;
    width: 100%;
    background-color: #6D7993;
	justify-content: space-between;
    -webkit-app-region: drag;
}

#titlebar-left {
	position: relative;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

#titlebar-right {
	position: relative;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

#clock-svg {

}
#statistics-svg {
	padding-left: 1px;
}

.titlebar-svg {
	width: 35px;
    height: 35px;
}

#clock-svg {
	width: 30px;
	height: 30px;
	padding-left: 5px;
	padding-top: 2.5px;
}

#clock:hover > #clock-svg, #statistics:hover > #statistics-svg, #minimize:hover > #minimize-svg, #close:hover > #close-svg {
	stroke: #9099A2;
	transition: stroke 250ms;
}

#titlebarContainer > div {
    -webkit-app-region: no-drag;
}
/* TITLEBAR ENDS */


/* CLOCK SIDEBAR */
#change-interval-sidebar {
    position: fixed;
    background: #00685F;
    width: 0%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable the horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
}
/* MAIN CLOCK */
#container {
    display: grid;
    margin-top: 25px;
    /*position: absolute;*/
    left: 0;
    right: 0;
    grid-template-columns: 6% 85% 6%;
    grid-column-gap: 1.5%;
}
