#titlebar-container {
  position: fixed;
  display: flex;
  height: 40px;
  width: 100%;
  box-shadow: 2px 2px 2px 2px var(--oc-gray-2);
  background-color: var(--oc-gray-0);
  -webkit-app-region: drag;
}

/* Titlebar icons have no drag */
.titlebar-icon {
  -webkit-app-region: no-drag;
}

#minimize-application {
  margin-left: auto;
}

.titlebar-svg {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

#clock-svg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  padding-top: 2.5px;
}

#statistics-svg {
  padding-left: 9px;
}

#close-application-svg {
  padding-right: 5px;
}

#minimize-application-svg {
  padding-right: 4px;
}

.titlebar-svg {
  stroke: var(--oc-gray-9);
}

.titlebar-icon:hover > .titlebar-svg {
  stroke: var(--oc-gray-6);
  transition: stroke 200ms;
}
