#titlebarContainer {
  position: fixed;
  display: flex;
  height: 40px;
  width: 100%;
  box-shadow: 2px 2px 2px 2px $oc-gray-2;
  background-color: $oc-gray-0;
  justify-content: space-between;
  -webkit-app-region: drag;
}

/* Title-bar left and titlebar right have no drag */
#titlebar-left {
  position: relative;
  display: flex;
  flex-direction: row;
  -webkit-app-region: no-drag;
}

#titlebar-right {
  position: relative;
  display: flex;
  flex-direction: row;
  -webkit-app-region: no-drag;
}

.titlebar-svg {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

#clock-svg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  padding-top: 2.5px;
}

#statistics-svg {
  padding-left: 9px;
}

#close-application-svg {
  padding-right: 5px;
}

#minimize-application-svg {
  padding-right: 4px;
}
#clock-svg, #statistics-svg, #minimize-application-svg, #close-application-svg {
  stroke: $oc-gray-9;
}

#clock:hover > #clock-svg, #statistics:hover > #statistics-svg, #minimize-application:hover > #minimize-application-svg, #close-application:hover > #close-application-svg {
  stroke: $oc-blue-9;
  transition: stroke 200ms;
}
